*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.con{
    position: relative;
    width: 100%;
    height: 729px;
    background: linear-gradient(-90deg, #ed8d8d 35%, #fff 65%);
}



.con1 {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    
    
}   
 .contact-info {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   
   
   
}

.contact-form {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
   
    
}

.contact-info {
    /* max-width: 800px; */
    width: 800px;
    height: 500px;
    padding-top: 50px;
}

.con1 .contact-info h2{
   text-align: center;
   padding-bottom: 35px;
   letter-spacing: 2px;
   text-transform: uppercase;
}



.info-item {
    margin-bottom: 20px;
    text-align: center; 
}

h3 {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

p{
    padding-bottom: 20px;
}

.info-item p {
    margin-bottom: 15px;
}

.social-links {
    text-align: center; 
    
}

/* .social-links h3 {
    margin-bottom: 10px;
} */

.social {
    display: flex;
    justify-content: center;
    
    
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ed8d8d;
    color: white;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-right: 45px;
    
}

.social a:hover {
    background-color: #d15858;
    color: white;
}


@media (width < 750px){
    .contact-info{
        width: auto;
        align-items: center;
    }
  
}
