*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.con{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-90deg, #fff 35%, #ed8d8d 65%);
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: #d63a35;
}                                   



.con1 {
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.6) 35%, rgba(237, 141, 141, 0.6) 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}   
 .contact-info {
    background-color: rgba(255, 255, 255, 0.8);
    /* padding-bottom: -7px; */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
}

.contact-info {
    /* max-width: 800px; */
    width: 800px;
    height: 500px;
    padding-top: 40px;
}

.con1 .contact-info h2{
   text-align: center;
   padding-bottom: 35px;
   letter-spacing: 2px;
   text-transform: uppercase;
}



.info-item {
    margin-bottom: 20px;
    text-align: center; /* Center align content */
}

h3 {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

p{
    padding-bottom: 20px;
}

.info-item p {
    margin-bottom: 15px;
}

.social-links {
    text-align: center; /* Center align social links */
}

.social-links h3 {
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
    
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ed8d8d;
    color: white;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    margin-right: 45px;
}

.social a:hover {
    background-color: #d15858;
    color: white;
}





