*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #972f2ffe;
    z-index: 99;
}

.nav-content{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    /* transition: .3s; */
    font-style: italic;
}

/* nav .logo a:hover{
    color: rgb(11, 11, 11);
} */

nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
}

ul li a:hover{
    border-top-color: #0f0e0e;
    border-bottom-color: #0f0e0e;
    color: rgb(255, 255, 255);
}

.section{
    background: linear-gradient(-90deg, #000000 30%, #201a1af3 70%);
    padding-top: 0;
    color: #fff;
    
}

.section-container{
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}



.container h1 {
    font-size: 3.3rem;
    font-weight: 400;
    line-height: 3rem;
    color: #51c5b2;
    margin-bottom: 1rem;
}

.container h1 span{
    font-weight: 900;
}

.container p{
    line-height: 1.5rem;
    color: rgb(158, 158, 158);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.image{
    display: grid;
    place-items: center;
    
    
}

.image img{
    width: min(20rem, 60%);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 15px rgba(233, 118, 118, 0.164);
    margin-top: 45px;
    transition: 0.5s;
   
}
.image img:hover{
    border-radius: 10%;
    box-shadow: 0px 0px 20px 15px rgba(118, 233, 208, 0.459);

    /* transform: scale(1.1); */
}

.social {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    
}

.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #2e2e2e00;
    color: rgb(99, 99, 99);
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    margin-right: 45px;
    transition: 0.8s;
    
}

.social a:hover {
    /* background-color: #f19d9d3d; */
    color: rgb(211, 112, 112);
}

.container .btn .button{
    padding-bottom: 30px;
    height: 45px;
    width: 200px;
    border-radius: 20px;
    font-size: 16px;
    background-color: #ffa600;
    padding-top: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    
}

.container .btn .button:hover{
    background-color: #f19d9d;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 0px 20px 15px rgba(255, 0, 0, 0.308);
}

@media (width < 750px){
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 50%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 70px;
        background-color: #000000;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked ~ ul{
        left: 0;
    }

    ul li a{
        font-size: 1.25rem;
    }

    .section-container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
        
    }

    .action-btn{
        margin: auto;
    }
}
.footer-bottom {
    height: 40px;
    background-color: rgb(34, 0, 0);
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

}
.footer-bottom p {
    margin: 0;
    color: #fff;
    font-size:10px;

}

@media (max-width: 768px) {
    .footer-bottom {
        padding: 10px 0;
        height: 40px;
        bottom: 0;
    }
    
}

